@media screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    nav {
        display: block;
    }

    .cabecalho-lista ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .sobre-mim > p {
       width: 50%;
    }

    h2 {
        width: 70%;
        text-align: center
    }

    .perfil > img {
        width: 500px;
    }

    main > p {
        font-size: 1rem;
    }
    
    
}